[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/plugins/tmux-resurrect"]
	path = plugins/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "plugins/plugins/tmux-continuum"]
	path = plugins/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
